*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #dad3d3;
}

#header {
    text-align: center;
    padding-top: 20px;
    padding: 20px;
    color: white;
    background-color: rgb(38, 38, 41);
}

nav ul{
list-style:none;
}

nav ul li{
display:inline;
margin:20px;

}

nav ul li a{
text-decoration:none;
color:white;
font-weight:bold;
font-size: 30px;
}

nav ul li a:hover{
    color:#ebe7e7
}
