*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background{
    background-position: center;
    background-color: rgb(53, 48, 48);
    color: white;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 4%;
    font-size: 60px;
    font-weight: bold;
    height: max-content;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #504b4b;
}


#header {
    text-align: center;
    padding-top: 20px;
    padding: 20px;
    color: white;
    background-color: rgb(38, 38, 41);
}

nav ul{
list-style:none;
}

nav ul li{
display:inline;
margin:20px;

}

nav ul li a{
text-decoration:none;
color:white;
font-weight:bold;
font-size: 30px;
}

nav ul li a:hover{
    color:#ebe7e7
}

.courses, .table-wrap{
    color: white;
    border: 5px solid black;
    width: max-content;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 2%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: rgb(53, 48, 48);
}
.table-wrap, tr, td{
    border: 2px solid black;
    padding: 20px;
    background-color: rgb(128, 116, 116);
    color: black;
}
.course-name{
    font-weight: bold;
}
.courses li, .courses li a{
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.courses li:hover{
    font-weight: bold;
    cursor: pointer;
}

.form{
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px;

}

.form-group{
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
}

.form-group input, .form-group select, .form-group textarea, .submit-button{
    font-size: 25px;
}

.submit-button{
    border: 2px solid gray;
    border-radius: 2px;
    padding: 5px;
    background-color: white;
}
.submit-button:hover{
    cursor: pointer;
    font-weight: bold;
}

footer{
    position: absolute;
    bottom: 0;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    background-color: rgb(41, 40, 40);
    color: white;
}